{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block csslink %}
<link href="{{ url_for('static', filename='css/users/company.css') }}" rel="stylesheet">
{% endblock %}

{% block jslink %}
<script defer src="{{ url_for('static', filename='js/users/company.js')}}"></script>
{% endblock %}

{% block main %}

<form id="edit_company" method="POST">
    <ul>
        {% if company.name %}
        <li>
            <label for="company_name">Company:</label>
            <input type="text" id="company_name" name="company_name" placeholder="{{ company.name }}">
        </li>
        {% endif %}
        {% if not company.name %}
        <li>
            <label for="company_name">Company:</label>
            <input type="text" id="company_name" name="company_name" placeholder="Add Company">
        </li>
        {% endif %}

        {% if company.name %}
        <li>
            <label for="company_name">Company:</label>
            <input type="text" id="company_name" name="company_name" placeholder="{{ company.name }}">
        </li>
        {% endif %}
        {% if not company.name %}
        <li>
            <label for="company_name">Company:</label>
            <input type="text" id="company_name" name="company_name" placeholder="Add Company">
        </li>
        {% endif %}

        {% if company.name %}
        <li>
            <label for="company_name">Company:</label>
            <input type="text" id="company_name" name="company_name" placeholder="{{ company.name }}">
        </li>
        {% endif %}
        {% if not company.name %}
        <li>
            <label for="company_name">Company:</label>
            <input type="text" id="company_name" name="company_name" placeholder="Add Company">
        </li>
        {% endif %}

        {% if company.name %}
        <li>
            <label for="company_name">Company:</label>
            <input type="text" id="company_name" name="company_name" placeholder="{{ company.name }}">
        </li>
        {% endif %}
        {% if not company.name %}
        <li>
            <label for="company_name">Company:</label>
            <input type="text" id="company_name" name="company_name" placeholder="Add Company">
        </li>
        {% endif %}
        
        {% if company.name %}
        <li>
            <label for="company_name">Company:</label>
            <input type="text" id="company_name" name="company_name" placeholder="{{ company.name }}">
        </li>
        {% endif %}
        {% if not company.name %}
        <li>
            <label for="company_name">Company:</label>
            <input type="text" id="company_name" name="company_name" placeholder="Add Company">
        </li>
        {% endif %}
    </ul>
</form>

{% if error %}
    <p class="generatedErrors">{{ error }}</p>
{% endif %}

<a class="button account_btns" id="return_user" href="{{ url_for('users.user', user_id=user.id)}}">Return to Dashboard</a>
<a class="button account_btns" id="delete_company" href="{{ url_for('users.delete_company', company_id=company.id) }}">Delete Company</a>

{% endblock %}