{% extends 'base.html' %}

{% block title %}Settings{% endblock %}

{% block csslink %}
<link href="{{ url_for('static', filename='css/users/settings.css') }}" rel="stylesheet">
{% endblock %}

{% block jslink %}
<script defer src="{{ url_for('static', filename='js/users/settings.js')}}"></script>
{% endblock %}

{% block main %}

<h1>
    Account Settings
</h1>

{% if not user.first_name %}
<p>
    Welcome to the Adress Changer new User!<br>
    Please set up your account here:
</p>
{% endif %}

{% if user.first_name %}
<p>
    Welcome to the Adress Changer, {{ user.first_name.capitalize() }}!<br>
    Here you can change your Account Settings:
</p>
{% endif %}

<form id="user_settings" class="container" method="POST">
    <ul>
        {% if user.user_email %}
        <li>
            <label for="user_email">Email:</label>
            <input type="text" id="user_email" name="user_email" class="input_field" placeholder="{{ user.user_email }}">
        </li>
        {% endif %}
        {% if not user.user_email %}
        <li>
            <label for="user_email">Email:</label>
            <input type="text" id="user_email" name="user_email" class="input_field" placeholder="Add Email">
        </li>
        {% endif %}
        


        <li>
            <div class= "password_checker" id="input">
                <label for="user_password">Password:</label>
                <input type="password" id="user_password" name="user_password" class="input_field" placeholder="Password">
                <span id="showHide">SHOW</span>
            </div>
            <div id="passwordStrength">
                <span id="poor"></span>
                <span id="weak"></span>
                <span id="strong"></span>
            </div>
            <div id="passwordInfo"></div>
        </li>

        <li>
            <label for="user_password_confirm">Confirm New Password:</label>
            <input type="password" id="user_password_confirm" name="user_password_confirm" class="input_field" placeholder="Confirm Password">
        </li>

        {% if user.first_name %}
        <li>
            <label for="first_name">First Name:</label>
            <input type="text" id="first_name" name="first_name" class="input_field" placeholder="{{ user.first_name }}">
        </li>
        {% endif %}
        {% if not user.first_name %}
        <li>
            <label for="first_name">First Name:</label>
            <input type="text" id="first_name" name="first_name" class="input_field" placeholder="Add First Name">
        </li>
        {% endif %}

        {% if user.last_name %}
        <li>
            <label for="last_name">Last Name:</label>
            <input type="text" id="last_name" name="last_name" class="input_field" placeholder="{{ user.last_name }}">
        </li>
        {% endif %}
        {% if not user.last_name %}
        <li>
            <label for="last_name">Last Name:</label>
            <input type="text" id="last_name" name="last_name" class="input_field" placeholder="Add Last Name">
        </li>
        {% endif %}

        {% if user.street_name %}
        <li>
            <label for="street_name">Street and Number:</label>
            <input type="text" id="street_name" name="street_name" class="input_field" placeholder="{{ user.street_name }}">
        </li>
        {% endif %}
        {% if not user.street_name %}
        <li>
            <label for="street_name">Street and Number:</label>
            <input type="text" id="street_name" name="street_name" class="input_field" placeholder="Add Street and Number">
        </li>
        {% endif %}

        {% if user.zip_code %}
        <li>
            <label for="zip_code">ZIP Code:</label>
            <input type="text" id="zip_code" name="zip_code" class="input_field" placeholder="{{ user.zip_code }}">
        </li>
        {% endif %}
        {% if not user.zip_code %}
        <li>
            <label for="zip_code">ZIP Code:</label>
            <input type="text" id="zip_code" name="zip_code" class="input_field" placeholder="Add ZIP code">
        </li>
        {% endif %}

        {% if user.town %}
        <li>
            <label for="town">Town:</label>
            <input type="text" id="town" name="town" class="input_field" placeholder="{{ user.town }}">
        </li>
        {% endif %}
        {% if not user.town %}
        <li>
            <label for="town">Town:</label>
            <input type="text" id="town" name="town" class="input_field" placeholder="Add Town">
        </li>
        {% endif %}

        {% if user.country %}
        <li>
            <label for="country">Country:</label>
            <input type="text" id="country" name="country" class="input_field" placeholder="{{ user.country }}">
        </li>
        {% endif %}
        {% if not user.country %}
        <li>
            <label for="country">Country:</label>
            <input type="text" id="country" name="country" class="input_field" placeholder="Add Country">
        </li>
        {% endif %}
    </ul>
    <input type="submit" value="Save Changes" class="button account_btns" id="submitbutton">
    <a class="button account_btns" id="return_user" href="{{ url_for('users.user', user_id=user.id)}}">Return to Dashboard</a>
    <a class="button account_btns" id="delete_user">Delete User</a>
</form>

{% if error %}
    <p class="generatedErrors">{{ error }}</p>
{% endif %}


<a id="hidden_delete" href="{{ url_for('users.delete_user', user_id=current_user.id) }}"></a>

{% endblock %}