{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block csslink %}
<link href="{{ url_for('static', filename='css/users/user.css') }}" rel="stylesheet">
{% endblock %}

{% block jslink %}
<script defer src="{{ url_for('static', filename='js/users/user.js')}}"></script>
{% endblock %}

{% block main %}

{% if not user.first_name %}
<p>
    Welcome to the Adress Changer new User!<br>
</p>
<p>
    Please set up your account
    <a class="link" id="settings" href="{{ url_for('users.get_settings', user_id=current_user.id) }}">
        here
    </a>
    or click on "Account Settings".
</p>
{% endif %}

{% if user.first_name %}
<p>
    Welcome {{ user.first_name.capitalize() }} to your personal Address Changer dashboard.
</p>
{% endif %}

{% if not user.companies %}
<p>
    Seems like you do not have any accounts added yet!<br>
    Click
    <a class="link" href="{{ url_for('users.get_create_company', user_id=user.id) }}">here</a>
    or on "Add Company" to add your first account.
</p>
{% endif %}

<div class="table">
    <div class="table_header">
        <div class="table_header_element">
            Account
        </div>
        <div class="table_header_element">
            Category
        </div>
        <div class="table_header_element">
            Email
        </div>
        <div class="table_header_element">
            Phone
        </div>
        <div class="table_header_element">
            Description
        </div>
    </div>
    <div class="table_body">
        {% for company in companies %}
        <section class="row">
            <span class="entity">
                {{ company.name }}
            </span>
            <span class="entity">
                {{ company.category }}
            </span>
            <span class="entity">
                {{ company.company_email }}
            </span>
            <span class="entity">
                {{ company.phone_number }}
            </span>
            <span class="entity">
                {{ company.description }}
            </span>

            <a class="button company_button" id="edit_company" href="{{ url_for('users.get_company', user_id=user.id, company_id=company.id) }}">Edit</a>

        </section>
        {% endfor %}
    </div>
</div>

<a class="button account_btns" id="create_company" href="{{ url_for('users.get_create_company', user_id=user.id) }}">Add Company</a>

<a class="button account_btns" id="send_emails"
href="mailto:
{{ user.user_email }}
?bcc=
{% for company in companies %}
{{ company.company_email }},
{% endfor %}
&subject=
Change of Address
&body=
To whomever it may conern,
%0D%0A%0D%0A
please note that I moved to a new address and therefore want to change my registered address to the following:
%0D%0A%0D%0A
{{ user.first_name }} {{ user.last_name }}
%0D%0A
{{ user.street_name }}
%0D%0A
{{ user.zip_code }} {{ user.town }}
%0D%0A
{{ user.country }}
%0D%0A%0D%0A
if you have any questions, please contact me via email.
%0D%0A%0D%0A
Best regards,
%0D%0A
{{ user.first_name }} {{ user.last_name }}"
>Send Emails to all accounts</a>

<a class="button account_btns" id="delete_user" href="{{ url_for('users.delete_user', user_id=current_user.id) }}">Delete User</a>

{% endblock %}