{% extends 'base.html' %}

{% block csslink %}<link href="{{ url_for('static', filename='css/simple_pages/about.css') }}" rel="stylesheet">{% endblock %}

{% block title %}Sign Up{% endblock %}

{% block main %}

<form id="loginForm" class="container" method="POST">
    <h1>
        Sign Up
    </h1>
    <p>
        You can sign up to save and look up your accounts.
    </p>
    <ul>
        <li>
            <input type="email" name="email" id="email" placeholder="Email" required>
        </li>
    {% endif %}
</form>

{% endblock %}