{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block csslink %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/simple_pages/about.css')}}" type="text/css">
{% endblock %}

{% block main %}
<h1>
    About this Project
</h1>

<p>
    This project is my assesment for the study program "Software Engeneering Foundations" at
    <a href="https://code.berlin">
    CODE University</a>.
</p>
<p>
    My motivation for this address changer application came from the struggle you face when you're moving to a new location and you need to change your address for all your accounts (e.g. bank accounts, insurance accounts etc. )
</p>
{% endblock %}