{% extends 'base.html' %}

{% block title %}Imprint{% endblock %}

{% block csslink %}
<link rel="stylesheet" href="imprint.css" type="text/css">
{% endblock %}

{% block main %}
<h1>
    Imprint
</h1>

<p id="imprint">
    Melvin Rinkleff <br>
    Alfred-Jung-Straße 14 <br>
    Apartment 310715 <br>
    10369 Berlin <br>
    Germany <br>
    Tel: +49 1590 1188669 <br>
    E-Mail: melvin.rinkleff@gmx.de 
</p>

<div id="background_image_imprint" src="images/pic_melvin.jpg" alt="picture Melvin"></div>

{% endblock %}