@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

/* ROOT */

:root {
    --clr-primary: rgb(140, 46, 26);
    --clr-secondary: rgb(253, 205, 0);
    --clr-background: rgb(255, 255, 255);
}

/* GENERAL */

* {
    margin: 0;
}

html {
    font-family: 'PT Serif', serif;
    font-size: 16px;
    color: var(--clr-secondary);
}

body {
    margin: 0;
    width: 100vw;
}

/* BUTTONS */

button > [href] {
    color: white;
    text-decoration: none;
}

.button, button {
    max-height: 40px;
    border: none;
    border-radius: 8px;
    padding: 10px;
    background: var(--clr-secondary);
    color: white;
    text-align: center;
    text-decoration: none;
}

button:hover {
    background: rgb(156, 58, 165);
}

.submit {
    max-height: 40px;
    width: 192px;
    border: black;
    border: 20px;
    border-radius: 8px;
    padding: 10px;
    background: white;
    color: var(--clr-primary);
    text-align: center;
    text-decoration: none;
}

.submit:hover {
    background: rgb(156, 58, 165)
}

/* IMAGE */

img {
    display: block; /* to remove the 4px below the img */
}

/* PARAGRAPH */

p {
    line-height: 1.5rem;
}

/* LINKS */

.link {
    color: var(--clr-secondary);
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

/* ----------------------------------------------- */

/* HEADER */

header {
    /* min-height: 100px; */
    width: 100vw;
    box-sizing: border-box;
    background-color: var(--clr-primary);
}

nav {
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content:flex-start;
    height: inherit;
    padding: 12px 12px;
}

nav > * {
    margin: 0 10px;
}

img#logo {
    max-height: 70px;
}

#placeholder {
    margin: 0;
    flex: 1 1 0px;
}

img#profile {
    max-height: 42px;
}

/* ----------------------------------------------- */

/* MAIN */

main {
    max-width: 600px;
    margin: 40px auto;
}

h1 {
    margin-bottom: 10px;
}

/* ----------------------------------------------- */

/* FOOTER */

footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    box-sizing:  border-box;
    
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 8px;

    background-color: var(--clr-primary);
}

.footerElement {
    display: inline-block;
    margin: 0 10px;
}

.fLinkElement {
    margin: 0 10px;
}

#info {
    margin-right: auto;
}

#langSelect {
    width: 175px;
    margin-left: auto;
}

#langSelector {
    float: right;
}


/* ----------------------------------------------- */

/* BREAKPOINTS */

/* HEADER */

@media (max-width:426px) {
    #hiw-button {
        display: none;
    }
}

@media (max-width:502px) {
    #faq-button {
        display: none;
    }
}


/* FOOTER */

@media (max-width: 556px) {
    #current_year {
        display: none;
    }
}

@media (max-width: 518px) {
    #copy_icon {
        display: none;
    }
}
