@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

/* ROOT */

:root {
    --clr-primary: rgb(140, 46, 26);
    --clr-secondary: rgb(253, 205, 0);
    --clr-background: rgb(255, 255, 255);
}

/* GENERAL */

* {
    margin: 0;
}

html {
    font-family: 'PT Serif', serif;
    font-size: 16px;
    color: var(--clr-secondary);
}

body {
    margin: 0;
    width: 100vw;
}

/* BUTTONS */

.button {
    max-height: 40px;
    border-radius: 8px;
    padding: 10px;
    border: 1px;
    border-style: solid;
    border-color: var(--clr-secondary);
    color:  var(--clr-secondary);
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    transition: border-color 0.7s, background-color 0.7s, color 0.7s;
}

.button:hover {
    background-color: var(--clr-secondary);
    border-color: transparent;
    color: var(--clr-primary);
}

.submit {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* IMAGE */

img {
    display: block; /* to remove the 4px below the img */
}

/* PARAGRAPH */

p {
    line-height: 1.5rem;
}

/* LINKS */

.link {
    color: var(--clr-secondary);
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

/* ----------------------------------------------- */

/* HEADER */

header {
    /* min-height: 100px; */
    width: 100vw;
    box-sizing: border-box;
    background-color: var(--clr-primary);
}

nav {
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content:flex-start;
    height: inherit;
    padding: 12px 12px;
}

nav > * {
    margin: 0 10px;
}

img#logo_loggedin, #logo_guest {
    max-height: 70px;
}

#placeholder {
    margin: 0;
    flex: 1 1 0px;
}

img#profile {
    max-height: 42px;
}

/* ----------------------------------------------- */

/* MAIN */

main {
    max-width: 600px;
    margin: 30px auto;
}

h1 {
    margin-bottom: 10px;
}

/* GO TO TOP BUTTON */

#gototop {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: var(--clr-secondary);
    color: var(--clr-primary);
    cursor: pointer;
    padding: 8px;
    border-radius: 5px;
    border-color: var(--clr-primary);
    font-size: 13px;
}

#gototop:hover {
    background-color: var(--clr-primary);
    color: var(--clr-secondary);
}

/* ----------------------------------------------- */

/* FOOTER */

footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    box-sizing:  border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    background-color: var(--clr-primary);
    font-size: 16px;
}

.footerElement {
    display: inline-block;
    margin: 0 10px;
}

.fLinkElement {
    margin: 0 10px;
}

#info {
    margin-right: auto;
}

#footerLinks {
    margin-left: auto;
    margin-right: auto;
}

/* LANGUAGE SELECTOR */

#langSelect {
    width: 175px;
    margin-left: auto;
}

select.langselector {
    float: right;
    background: var(--clr-primary);
    color: var(--clr-secondary);
    appearance: none;
    border-color: var(--clr-secondary);
}
select.langselect option{
    color: var(--clr-secondary);
}

/* ----------------------------------------------- */

/* BREAKPOINTS */

/* HEADER */

@media (max-width:587px) {
    #faq-button {
        display: none;
    }
}

@media (max-width:509px) {
    #hiw-button {
        display: none;
    }
}

/* MAIN */

@media (max-width:501px) {
    #gototop {
        bottom: 75px;
    }
}


/* FOOTER */

@media (max-width: 687px) {
    #current_year {
        display: none;
    }
}

@media (max-width: 649px) {
    #copy_icon {
        display: none;
    }
}

@media (max-width: 632px) {
    footer {
        font-size: 12px;
    }
    #langSelect {
        font-size: 12px;
    }
}

@media (max-width: 546px) {
    footer {
        font-size: 10px;
    }
    #langSelect {
        font-size: 10px;
    }
}