@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

:root {
    --clr-primary: rgb(140, 46, 26);
    --clr-secondary: rgb(253, 205, 0);
    --clr-background: rgb(255, 255, 255);
}

* {
    margin: 0;
}


html {
    font-family: 'PT Serif', serif;
    font-size: 16px;
    color: var(--clr-secondary);

}

body {
    margin: 0;
    width: 100vw;
}

button > [href] {
    color: white;
    text-decoration: none;
}

.button, button {
    max-height: 40px;
    border: none;
    border-radius: 8px;
    padding: 10px;
    background: var(--clr-secondary);
    color: white;
    text-align: center;
    text-decoration: none;
}

button:hover {
    background: rgb(156, 58, 165);
}

img {
    display: block; /* to remove the 4px below the img */
}

p {
    line-height: 1.5rem;
}



/* HEADER */

header {
    /* min-height: 100px; */
    width: 100vw;
    box-sizing: border-box;
    background-color: var(--clr-primary);
}

nav {
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content:flex-start;
    height: inherit;
    padding: 15px 15px;
}

nav > * {
    margin: 0 10px;
}

img#logo {
    max-height: 70px;
}

#placeholder {
    margin: 0;
    flex: 1 1 0px;
}

img#profile {
    max-height: 42px;
}

/* MAIN */


main {
    max-width: 600px;
    margin: 40px auto;
}


/* FOOTER */

footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    box-sizing:  border-box;
    
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px;

    background-color: var(--clr-primary);
}

.footerElement {
    display: inline-block;
    margin: 0 10px;
}

.fLinkElement {
    color: var(--clr-secondary);
    text-decoration: none;
}

.fLinkElement:hover {
    text-decoration: underline;
}

#info {
    margin-right: auto;
}

/* #footerLinks {
    margin: 0 auto;
} */

#langSelect {
    margin-left: auto;
}





@media (max-width:700px) {
    img#logo {
        max-height: 50px;
    }

    button#faq {
        display: none;
    }
}

@media (max-width:560px) {
    button#signup {
        display: none;
    }
}

@media (max-width: 470px) {
    button#login {
        display: none;
    }
}
