/* LOGIN FORM */

.loginform {
    width: 30%;
    display: flex;
    position: relative;
    width: 100%;
    padding: 10px;
    border: 1px solid lightgrey;
    font-size: 15px;
    margin-bottom: 5px;
}

ul {
    padding: 0;
    list-style: none;
}

/* PASSWORD */

#input{
    width: 100%;
    border: none;
    padding: 0;
    display: flex;
    position: relative;
}
#input input {
    width: 100%;
    padding: 10px;
    border: 1px solid lightgrey;
    font-size: 15px;
}
#input #showHide{
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    color:red;
    right: 20px;
    top: 45%;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none;
}

/* SIGNUP BUTTON */

.submit {
    text-align: center;
}

/* LINK TO SIGNUP */

#linksignup {
    border: 5px;

}