html {
    font-size: 20px;
}

ul {
    padding: 0;
    list-style: none;
    width: 100%;
    margin-bottom: 8px;
}

p {
    padding-bottom: 10px;
}

li {
    position: relative;
    width: 100%;
    margin-bottom: 5px;
}

#user_settings {
    width: 30%;
    display: flex;
    flex-wrap: wrap;

    position: relative;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.input_field {
    position: absolute;
    right:0;
}

.account_btns {
    margin-right: 5px;
}

#input input {
    right: 0;
}
#input #showHide{
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    color:red;
    right: 5px;
    top: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none;
}
#passwordStrength{
    width: 100%;
    height: 5px;
    margin: 5px 0;
    display: none;
}
#passwordStrength span{
    position: relative;
    height: 100%;
    width: 100%;
    background: lightgrey;
    border-radius: 5px;
}
#passwordStrength span:nth-child(2){
    margin: 0 3px;
}
#passwordStrength span.active:before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 5px;
}
#passwordStrength span#poor:before{
    background-color: #ff4757;
}
#passwordStrength span#weak:before{
    background-color: orange;
}
#passwordStrength span#strong:before{
    background-color: #23ad5c;
}
#passwordInfo{
    font-size: 15px;
    margin-bottom: 5px;
}
#passwordInfo #poor{
    color: red;
}
#passwordInfo #weak{
    color: orange;
}
#passwordInfo #strong{
    color: green;
}

#submitbutton {
    font-size: 20px;
    max-height: fit-content;
    border-radius: 8px;
    padding: 10px;
    border: 1px;
    border-style: solid;
    border-color: var(--clr-secondary);
    color:  var(--clr-secondary);
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    margin-right: 5px;
    transition: border-color 0.7s, background-color 0.7s, color 0.7s;
}

#submitbutton:hover {
    background-color: var(--clr-secondary);
    border-color: transparent;
    color: var(--clr-primary);
}

/* Hidden Delete */

#hidden_delete {
    display: none;
}