p {
    padding-bottom: 10px;
}

/* SIGNUP FORM */

.signupform {
    width: 30%;
    display: flex;
    position: relative;
    width: 100%;
    padding: 10px;
    border: 1px solid lightgrey;
    font-size: 15px;
    margin-bottom: 5px;
}

ul {
    padding: 0;
    list-style: none;
}

/* PASSWORD */

#input{
    width: 100%;
    border: none;
    padding: 0;
    display: flex;
    position: relative;
}
#input input {
    width: 100%;
    padding: 10px;
    border: 1px solid lightgrey;
    font-size: 15px;
}
#input #showHide{
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    color:red;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none;
}
#passwordStrength{
    width: 100%;
    height: 5px;
    margin: 5px 0;
    display: none;
}
#passwordStrength span{
    position: relative;
    height: 100%;
    width: 100%;
    background: lightgrey;
    border-radius: 5px;
}
#passwordStrength span:nth-child(2){
    margin: 0 3px;
}
#passwordStrength span.active:before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 5px;
}
#passwordStrength span#poor:before{
    background-color: #ff4757;
}
#passwordStrength span#weak:before{
    background-color: orange;
}
#passwordStrength span#strong:before{
    background-color: #23ad5c;
}
#passwordInfo{
    font-size: 15px;
    margin-bottom: 5px;
}
#passwordInfo #poor{
    color: red;
}
#passwordInfo #weak{
    color: orange;
}
#passwordInfo #strong{
    color: green;
}

/* SIGNUP BUTTON */

.submit {
    text-align: center;
}