main {
    max-width: 1000px;
    margin: 40px auto;
}

.table { 
    display: table;
    margin: 30px;
}

.row {
    display: table-row;
    border: 1px solid black;
}

.entity {
    display: table-cell;
    margin: 10px;
    border-right: 1px solid black ;
}