p {
    font-size: 20px;
    margin-bottom: 15px;
}

.table { 
    display: table;
    border: 1px solid var(--clr-secondary);
    border-spacing: 1em;
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 18px;
}

.table_header {
    display: table-header-group;
    font-weight: bold;
}

.table_header_element {
    display: table-cell;
    text-align: justify;
    border-bottom: 1px solid var(--clr-secondary);
}

.table_body {
    display: table-row-group;
}

.row {
    display: table-row;
    border-collapse:collapse;
    border: 1px solid black;
}

.entity {
    display: table-cell;
    margin-right: 100px;
}

.company_button {
    padding: 2px;
}