
#background_image_imprint {
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.5);
}
#background_image:before {
    opacity: 0.3;
}

#backgrounddiv {
    height: 500px;
    width: 800px;
    background-image: url("var(--bg-url)");
}

#backgroundimg {
    display: block;
    max-height: 500px;
    max-width: 800px;
}