#imprint {
    align-content: center;
}

#backgrounddiv {
    height: 500px;
    width: 800px;
    background-image: url("var(--bg-url)");
}

#backgroundimg {
    display: block;
    max-height: 500px;
    max-width: 800px;
}