main {
    max-width: 1000px;
    margin: 30px 10%;
}

h2 {
    margin-bottom: 6px;
}

p {
    margin-bottom: 12px;
}
/* ----------- */

.p_left {
    line-height: 35px;
    margin-bottom: 16px;
    font-size: 26px;
}

.flex_item {
    flex-basis: 50%;
}

.left {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.right {
    height: 300px;
}

#text_left {
    margin-bottom: 50px;
    font-size: 24px;
}

#rootpage {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.columns {
    padding: 10px 0;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.columns > section {
    flex: 1 1 120px;
    margin: 10px;
    text-align: center;
}

@media (max-width: 1273px){
    .flex_item {
        flex-basis: 100%;
    }
    .right {
        object-fit: cover;
        max-width: 70%;
    }
}

@media (max-width: 1032px) {
    .columns > section {
        flex-basis: 100%;
    }
}