main {
    max-width: 1000px;
    margin: 30px 10%;
}

h2 {
    margin-bottom: 6px;
}

p {
    margin-bottom: 12px;
}

.p_left {
    line-height: 35px;
    margin-bottom: 16px;
}

#mailbox_image {
    float: right;
    right: 20%;
    top: 22%;
    width: 400px;
    height: 300px;
}

#background_image:before {
    opacity: 0.3;
}

#text_left {
    margin-bottom: 50px;
    font-size: 24px;
}

@media (max-width:1024px) {
    #mailbox_image {
        width: 300px;
        height: 200px;
    }
}

@media (max-width:700px) {
    #mailbox_image {
        width: 200px;
        height: 150px;
    }
}