<!--                                            
 __  __      _       _         _____  _       _    _       __  __ 
|  \/  |    | |     (_)       |  __ \(_)     | |  | |     / _|/ _|
| \  / | ___| |_   ___ _ __   | |__) |_ _ __ | | _| | ___| |_| |_ 
| |\/| |/ _ \ \ \ / / | '_ \  |  _  /| | '_ \| |/ / |/ _ \  _|  _|
| |  | |  __/ |\ V /| | | | | | | \ \| | | | |   <| |  __/ | | |  
|_|  |_|\___|_| \_/ |_|_| |_| |_|  \_\_|_| |_|_|\_\_|\___|_| |_|  
-->
<!DOCTYPE html>
<html lang="en-US">
    <head>
        {% block head %}
            <title>{% block title %}{% endblock %}</title>
            <meta name="description" content="Address changer web application">
            <meta name="keywords" content="address, changer, app">
            <meta name="author" content="Melvin Rinkleff">
            <meta name="viewport" content="width=device-width,initial-scale=1">
            <meta charset="UTF-8">
            <link rel="shortcut icon" href="{{ url_for('static', filename='images/icon.png') }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
            <script defer src="{{ url_for('static', filename='js/base.js')}}"></script>
            {% block csslink %}{% endblock %}
            {% block jslink %}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <header>
                <nav>
                    {% if current_user.is_authenticated %}
                        <a href="{{ url_for('users.user', user_id=current_user.id) }}">
                            <img src="{{ url_for('static', filename='images/icon.png') }}" alt="adress-changer logo" id="logo_loggedin">
                        </a>
                    {% endif %}    
                    {% if not current_user.is_authenticated %}
                        <a href="{{ url_for('simple_pages.root') }}">
                            <img src="{{ url_for('static', filename='images/icon.png') }}" alt="adress-changer logo" id="logo_guest">
                        </a>
                    {% endif %}

                    <div class="dropdown" id="hamMenu">
                        <div class="dropdown-content" id="hamMenuContent">
                            <a class ="button" id="hiw-button_ham" href="{{ url_for('simple_pages.how_it_works') }}">
                                How it works
                            </a>
                            <a class ="button" id="faq-button_ham" href="{{ url_for('simple_pages.faq') }}">
                                FAQs
                            </a>
                        </div>
                    </div>

                    <a class ="button" id="hiw-button" href="{{ url_for('simple_pages.how_it_works') }}">
                        How it works
                    </a>
                    <a class ="button" id="faq-button" href="{{ url_for('simple_pages.faq') }}">
                        FAQs
                    </a>

                    <div id="placeholder"></div>

                    {% if current_user.is_authenticated %}
                        <a class ="button" id="settings" href="{{ url_for('users.get_settings', user_id=current_user.id) }}">
                            Account Settings
                        </a>
                        <a class ="button" id="logout" href="{{ url_for('users.get_logout') }}">
                            Log Out
                        </a>
                    {% endif %}    
                    {% if not current_user.is_authenticated %}
                        <a class ="button" id="login" href="{{ url_for('users.get_login') }}">
                            Log In
                        </a>
                    {% endif %}
                    {% if not current_user.is_authenticated %}
                        <a class ="button" id="signup" href="{{ url_for('users.get_signup') }}">
                            Sign Up
                        </a>
                    {% endif %}
                </nav>
            </header>
            <main>
                {% block main %}
                {% endblock %}
                <button onclick="topFunction()" id="gototop" title="Go to top">^</button>
            </main>
            <footer>
                <div class="footerElement" id="info">
                    <a class="link" href="{{ url_for('simple_pages.root') }}">
                        Address Changer
                        <span id="copy_icon">©</span>
                        <span id="current_year">
                            <script>
                                document.write(new Date().getFullYear() );
                            </script>
                        </span>
                    </a>
                </div>
                
                <div class="footerElement" id="footerLinks">
                    <a id="imprint" class="link fLinkElement" href="{{ url_for('simple_pages.imprint') }}">
                        Imprint
                    </a>
                    |
                    <a id="about" class="link fLinkElement" href="{{ url_for('simple_pages.about') }}">
                        About
                    </a>
                    |
                    <a id="privacy_policy" class="link fLinkElement" href="{{ url_for('simple_pages.privacy_policy') }}">
                        Privacy Policy
                    </a>
                </div>
            
                <form class="footerElement" id="langSelect">
                    <select name=”language” class="langselector">
                        <option id="language_game_of_thornes" disabled >Dothraki</option>
                        <option id="language_lord_of_the_rings" disabled >Elvish</option>
                        <option id="english" selected >English</option>
                        <option id="french" disabled >French</option>
                        <option id="german" disabled >German</option>
                        <option id="language_star_wars" disabled >Huttese</option>
                        <option id="spanish" disabled >Spanish</option>
                    </select>
                </form>
            </footer>
        {% endblock %}
    </body>
</html>