<!DOCTYPE html>
<html lang="en-US">
    <head>
        {% block head %}
            <title>{% block title %}{% endblock %}</title>
            <meta name="description" content="Address changer web application">
            <meta name="keywords" content="address, changer, app">
            <meta name="author" content="Melvin Rinkleff">
            <meta name="viewport" content="width=device-width,initial-scale=1">
            <meta charset="UTF-8">
            <link rel="shortcut icon" href="{{ url_for('static', filename='/images/icon.png') }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
            {% block csslink %}{% endblock %}
            {% block jslink %}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <header>
                <nav class="navbar">
                    <a href="/">
                        <img src="{{ url_for('static', filename='images/icon.png') }}" alt="adress-changer logo" id="logo">
                    </a>
                    <button id="how_it_works">
                        <a href="/how_it_works">
                            How it works
                        </a>
                    </button>
                    <button id="faq">
                        <a href="/faq">
                            F.A.Q.
                        </a>
                    </button>
                    <div id="placeholder"></div>
                    {% if current_user.is_authenticated %}
                        <button id="logout">
                            <a href="{{ url_for('users.get_logout') }}">
                                Log Out
                            </a>
                        </button>
                    {% endif %}    
                    {% if not current_user.is_authenticated %}      
                        <button id="login">
                            <a href="{{ url_for('users.get_login') }}">
                                Log In
                            </a>
                        </button>
                    {% endif %}
                    {% if not current_user.is_authenticated %}
                        <button id="signup">
                            <a href="{{ url_for('users.get_signup') }}">
                                Sign Up
                            </a>
                        </button>
                    {% endif %}
                </nav>
            </header>
            <main>
                {% block main %}
                {% endblock %}
            </main>
            <footer>
                <div class="footerElement" id="info">
                    Address Changer
                    <script>
                        document.write( new Date().getFullYear() );
                    </script>
                </div>
                
                <div class="footerElement" id="footerLinks">
                    <a id="imprint" class="fLinkElement" href="{{ url_for('simple_pages.imprint') }}">
                        Imprint
                    </a>
                    |
                    <a id="about" class="fLinkElement" href="{{ url_for('simple_pages.about') }}">
                        About
                    </a>
                </div>
                


                <form class="footerElement" id="langSelect">
                    <select name=”language”>
                        <option id="english" selected >English</option>
                        <option id="german" disabled >German</option>
                        </select>
                </form>
            </footer>
        {% endblock %}
    </body>
</html>